@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0px;
    left: 80px;
    width: calc(100% - 80px);
    transition: all 0.5s ease;
    padding: 1rem;
}